body{
    background-color: #f6f6f7;
}

main{
    min-height:100vh;
}
.color-btn {
    background-color: #5D5FEF;
}


#spinner-load{
    text-align: center!important;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%)

}


.count-style , footer{
    background-color: #fff;
}



.fa-brands{
    font-size:20px;
    margin:10px;
    
}